.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    height: 100%;
}

.modal {
    position: relative;
    padding: 0 40px;
}

.modal-header h1 {
    color: lightblue;
}

.modal .close-modal {
    position: fixed;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}

.video-wrapper iframe {
    width: 100%;
    min-height: 500px;
    height: auto;
}