.question-wrapper {
    background: #f7f6f6;
    border-bottom: 10px solid #f1f1f1;
    padding: 50px;
    margin: 50px 0;
    position: relative;
}

.question-wrapper i {
    margin-right: 10px;
}

.question-image-wrapper img {
    max-width: 100%;
}

.options-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.question-wrapper .question-header h2 {
    color: #cca2a2;
    font-weight: bolder;
}

.options-wrapper label {
    margin: 10px 0 0 0;
}

.options-wrapper .label-wrapper {
    margin-right: 30px;
}

.options-wrapper label .index {
    font-weight: bold;
    color: #6d6d6d;
    margin-right: 10px;
}

.options-wrapper input[type="checkbox"] {
    vertical-align: middle;
}

.formula-wrapper label {
    margin-right: 20px;
    font-weight: bold;
    color: #6d6d6d;
}

.formula-wrapper input {
    width: 50%;
    padding: 10px 20px;
    outline: none;
    color: royalblue;
    font-weight: bold;
    border: none;
    border-radius: 2px;
}

.buttons-wrapper {
    margin: 50px 0 0 0;
    text-align: center;
}

.buttons-wrapper button {
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    background: white;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    outline: none;
}


.buttons-wrapper button[type="reset"] {
    border: 2px solid red;
    color: red;
}

.buttons-wrapper button[type="reset"]:hover {
    border: 2px solid red;
    color: white;
    background: red;
}

.buttons-wrapper button[type="button"] {
    border: 2px solid royalblue;
    color: royalblue;
}

.buttons-wrapper button[type="button"]:hover {
    border: 2px solid royalblue;
    color: white;
    background: royalblue;
}

.buttons-wrapper button:disabled {
    background: silver !important;
    color: #6d6d6d !important;
    border: none !important;
    cursor: not-allowed;
}

.buttons-wrapper .answered {
    margin: 40px 0 0 0;
}

.buttons-wrapper .answered .correct {
    color: mediumseagreen;
    font-size: 2em;
    margin: 0 !important;
}

.buttons-wrapper .answered .incorrect {
    color: red;
    font-size: 2em;
    margin: 0 !important;
}


.file-wrapper {
    position: absolute;
    top: 0px;
    right: 0px;
    background: darkslategray;
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: 3px solid #294040;
}

.file-wrapper a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.file-wrapper p {
    margin: 0 10px 0 0;
    color: white;
    font-weight: bold;
}

.file-icon {
    color: mediumseagreen;
    font-size: 2em;
    margin: 0 !important;
}

.video-thumbnail-wrapper {
    margin: 50px 0 0 0;
    border-top: 5px solid #dedede;
    padding: 50px 0 0 0;
}

.video-thumbnail-wrapper .video {
    width: 200px;
    position: relative;
    cursor: pointer;
}

.video-thumbnail-wrapper .video img {
    width: 200px;
}

.video-thumbnail-wrapper .video small {
    font-weight: bold;
    display: block;
    margin-top: -5px;
    padding: 10px 0 20px 0;
    background: black;
    color: mediumseagreen;
}

.video-thumbnail-wrapper .video small i {
    color: tomato;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2em;
}